
body {
  background: radial-gradient(circle, rgba(82,79,79,1) 0%, rgba(0,0,0,1) 100%);
}

.projectWrapper {
  width: 100%;
  padding: 0;
  padding-top: 200px;
}

.projectWrapper:nth-of-type(1) {
  padding-top: 100px;
}

.imageWrapper, .descWrapper{
  width: 50%;
  height: 100%;
}

.projectWrapper:nth-of-type(odd) .imageWrapper,
.projectWrapper:nth-of-type(odd) .descWrapper .desc
 {
  float: left;
}

.projectWrapper:nth-of-type(odd) .descWrapper,
.projectWrapper:nth-of-type(odd) .imageWrapper .image
 {
  float: right;
}

.projectWrapper:nth-of-type(even) .imageWrapper,
.projectWrapper:nth-of-type(even) .descWrapper .desc
 {
  float: right;
}

.projectWrapper:nth-of-type(even) .descWrapper,
.projectWrapper:nth-of-type(even) .imageWrapper .image
 {
  float: left;
}

.image, .desc {
  margin: 0 50px;
  width: 80%;
  max-width: 500px;
  z-index: 2;
  position:relative;
}

.desc {
  background-color: rgba(200,200,200,0.8);
}

#particles-js {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  position: absolute;
}
