html {
  height: 100%; 
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ccc;
}


/*Link Styling - Start*/
.linkWrapper {
  height: 100%;
  width: 100%
}

.links {
  color: #000;
  text-decoration: none;
  display: inline;
  z-index: 1;
  position: absolute;
  line-height: 40px;
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
  transition: letter-spacing 0.2s;
}


.topLink {
  top: 0;
  letter-spacing: 5px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 30px;
  margin-top: 30px;
background: linear-gradient(0deg, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 50%);
  color: #fff;
}

.leftLink {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  text-align: center;
  margin-left: 30px;
  writing-mode: vertical-rl;
  text-orientation: upright;
background: linear-gradient(-90deg, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 50%);
  color: #fff;
}

.rightLink {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-right: 30px;
background: linear-gradient(90deg, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 50%);
  color: #fff;
}

.bottomLink {
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  letter-spacing: 5px;
  margin-bottom: 30px;
background: linear-gradient(180deg, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 50%);
  color: #fff;
}

.nonActive {
  color: #000;
  background: transparent;
}

.nonActive:hover {
  letter-spacing: 20px;
  transition: letter-spacing 0.2s;
}
/*Link Styling - End*/



/*content Styling - Start*/

.contentWrapper {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  margin: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, rgba(19, 74, 163,.8), rgba(0, 116, 107,.8));
  background-size: 300% 300%;
  animation: backgroundAnimation 50s ease infinite;
  }

  .pattern {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    position: absolute;
    margin: 50px;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('gravel.png');
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
  }

  @keyframes backgroundAnimation {
  0%{background-position:9% 0%}
  50%{background-position:92% 100%}
  100%{background-position:9% 0%}
  }


table {
  margin: 0 auto;
  height: 500px;
  border-collapse: collapse;
  margin-top: calc(50vh - 50px - 250px);
}

table td {
  padding: 0 30px;
}

.titleWrapper {
  border-right: solid black 2px;
}


table h1 {
  font-size: 60px;
  font-family: 'Oswald' , sans-serif;
}

table p {
  font-size: 25px;
  font-family: 'Nunito' , sans-serif;
}

.aboutTable {
  margin: 0 auto;
  width: 60%;
  height: auto;
}

.aboutTitleWrapper h1{
  text-align: center;
  border-bottom: solid black 2px;
}
/*Content Styling - End*/




/*Projects Styling*/
a {
  text-decoration: none;
  color: #000;
}

.projectWrapper {
  width: 100%;
  height: 281.25px;
  padding: 0;
  padding-top: 200px;
}

.projectWrapper:nth-of-type(1) {
  padding-top: 100px;
}

.projectWrapper:last-of-type {
  padding-bottom: 100px;
}

.imageWrapper, .descWrapper{
  width: 50%;
  height: 100%;
}

.projectWrapper:nth-of-type(odd) .imageWrapper,
.projectWrapper:nth-of-type(odd) .descWrapper .desc
 {
  float: left;
}

.projectWrapper:nth-of-type(odd) .descWrapper,
.projectWrapper:nth-of-type(odd) .imageWrapper .image
 {
  float: right;
}

.projectWrapper:nth-of-type(even) .imageWrapper,
.projectWrapper:nth-of-type(even) .descWrapper .desc
 {
  float: right;
}

.projectWrapper:nth-of-type(even) .descWrapper,
.projectWrapper:nth-of-type(even) .imageWrapper .image
 {
  float: left;
}

.image, .desc {
  margin: 0 50px;
  width: 80%;
  max-width: 500px;
  z-index: 3;
  position:relative;
}

.desc {
  background-color: rgba(200,200,200,0.8);
  padding: 0 10px;
}

#particles-js {
  background: radial-gradient(circle, rgba(1,124,126,1) 10%, rgba(14,96,130,1) 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

.desc h1 {
  font-family: 'Oswald', sans-serif;
}

.desc p {
  font-family: 'Nunito' , sans-serif;
}
.desc h1:after {
  display:block;
  content: '';
  border-bottom: solid 2px #000;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  transform-origin:100% 50%
}
.desc h1:hover:after {
  transform: scaleX(1);
  transform-origin:0 50%;
}

.projectsNav a{
  position: fixed;
  z-index: 5;
  top: 0;
  color: #fff;
  background: rgb(26, 26, 26);
  text-align: center;
  width: 200px;
  margin-left: calc(50% - 100px);
  height: 50px;
  vertical-align: middle;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  line-height: 40px;
  font-size: 35px;
  box-shadow: rgba(0,0,0,.2) 0px 0px 20px;
  font-family: 'Oswald', sans-serif;
  transition: all 0.2s;
}

.projectsNav a:hover {
  height: 60px;
  line-height: 50px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.2s;
  box-shadow: rgba(0,0,0,.4) 0px 0px 20px;
}
