body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #ccc;
}


/*Link Styling - Start*/
.linkWrapper {
  height: 100%;
  width: 100%
}

.links {
  color: #000;
  text-decoration: none;
  display: inline;
  z-index: 5;
  position: absolute;
  line-height: 40px;
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
  transition: letter-spacing 0.2s;
}


.topLink {
  top: 0;
  letter-spacing: 5px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 30px;
  margin-top: 30px;
  background: rgb(255,139,148);
background: linear-gradient(0deg, rgba(255,139,148,0) 50%, rgba(0,0,0,1) 50%);
  color: #fff;
}

.leftLink {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  text-align: center;
  margin-left: 30px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  background: rgb(255,139,148);
background: linear-gradient(-90deg, rgba(255,139,148,1) 50%, rgba(0,0,0,1) 50%);
  color: #fff;
}

.rightLink {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  text-align: center;
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin-right: 30px;
  background: rgb(255,139,148);
background: linear-gradient(90deg, rgba(255,139,148,1) 50%, rgba(0,0,0,1) 50%);
  color: #fff;
}

.bottomLink {
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  letter-spacing: 5px;
  margin-bottom: 30px;
  background: rgb(255,139,148);
background: linear-gradient(180deg, rgba(255,139,148,1) 50%, rgba(0,0,0,1) 50%);
  color: #fff;
}

.nonActive {
  color: #000;
  background: transparent;
}

.nonActive:hover {
  letter-spacing: 20px;
  transition: letter-spacing 0.2s;
}
/*Link Styling - End*/



/*content Styling - Start*/

.contentWrapper {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  margin: 50px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(-45deg, rgba(19, 74, 163,.8), rgba(0, 116, 107,.8));
  background-size: 300% 300%;
  animation: backgroundAnimation 25s ease infinite;
  }

  .pattern {
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    position: absolute;
    margin: 50px;
    top: 0;
    left: 0;
    z-index: -1;
    background-image: url('gravel.png');
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
  }

  @keyframes backgroundAnimation {
  0%{background-position:9% 0%}
  50%{background-position:92% 100%}
  100%{background-position:9% 0%}
  }


table {
  margin: 0 auto;
  height: 500px;
  border-collapse: collapse;
  margin-top: calc(50vh - 50px - 250px);
}

table td {
  padding: 0 30px;
}

.titleWrapper {
  border-right: solid black 2px;
}


table h1 {
  font-size: 60px;
  font-family: 'Oswald' , sans-serif;
}

table p {
  font-size: 25px;
  font-family: 'Nunito' , sans-serif;
}
/*Content Styling - End*/
